// - - - - - - - - - - - - - - - - - - -
// - - explore module
// styles for the explore module

.music-card {
  text-align: center;
  font-size: $size-3;
  cursor: pointer;
  color: #fff;

  .genre-symbol {
    font-size: $size-2;
  }

}
