// - - - - - - - - - - - - - - - - - - -
// - - modal module
// styles for the modal module
.modal {

  @include media(min-width $desktop) {
    display: none;
    padding-top: 35px;
    &.is-active {
      display: block;
    }
  }

  .modal-header {
    border-bottom: 1px solid $grey-light;
    margin-bottom: 15px;
    padding-bottom: 10px;

    > p {
      @extend .subtitle;
      @extend .is-5;
    }
  }

  .modal-background {
    background: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    @include calc(height, "100% - 30px");
    width: 800px;

    .box {
      box-shadow: 0px 0px 0px !important;
      border-radius: $radius !important;

      .modal-close {
        position: absolute;
        top: 0px;
        right: 0px;

        &:after, &:before {
          background: $text-light;
        }

        &:hover {
          background: none;
          &:after, &:before {
            background: $text;
          }
        }
      }
    }
  }
}
