// - - - - - - - - - - - - - - - - - - -
// - - notification module
// styles for the notification module

.notification-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 600px;
  z-index: 99999;
  max-height: 50%;
  overflow-y: auto;
  margin-top: 10px;
  margin-right: 10px;

  @include media(max-width $desktop) {
    width: 90%;
    margin-right: 5%;
  }
  .notification {
    margin-bottom: 10px;
  }
}
